In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [42]:
df = pd.read_parquet("yellow_tripdata_2021-01.parquet",engine='pyarrow')

In [43]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [44]:
## Create connection to postgres

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [4]:
engine.connect()

In [47]:
print(pd.io.sql.get_schema(df,name="yellow_taxi_data",con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [48]:
df_splits = np.array_split(df, 10)

In [49]:
from time import time

In [50]:
for df_split in df_splits:
    t_start = time()
    df_split.to_sql(name='yellow_taxi_data', con=engine, if_exists='append', index=False)
    t_end = time()

    print(f'inserted another chunk, took {t_end - t_start} seconds')

inserted another chunk, took 13.703497409820557 seconds
inserted another chunk, took 13.95906400680542 seconds
inserted another chunk, took 13.824558973312378 seconds
inserted another chunk, took 15.569192171096802 seconds
inserted another chunk, took 15.518379211425781 seconds
inserted another chunk, took 16.466373205184937 seconds
inserted another chunk, took 17.19608974456787 seconds
inserted another chunk, took 18.91503357887268 seconds
inserted another chunk, took 19.59535312652588 seconds
inserted another chunk, took 17.706615447998047 seconds

In [5]:
zones_df = pd.read_csv("taxi_zone_lookup.csv")

In [7]:
zones_df.to_sql(name='zones',con=engine,if_exists='replace')

265